$textColor: #0000FF;
$headerFont: Helvetica, sans-serif;
$headerPadding: 15px;
$textCenter: center;


@import "reset";
@import "type";
@import "layout";

img {width:100%;}

h1 {color:$textColor; font-family: $headerFont; padding-top: $headerPadding; padding-bottom: $headerPadding;}
h2 {color:$textColor; font-family: $headerFont; padding-top: $headerPadding; padding-bottom: $headerPadding;}
ul {color:$textColor; text-decoration: underline;}

header#mainhead,	footer{
	h1	{
		text-align: $textCenter;
	}
	h2	{
		text-align: $textCenter;
	}
	ul	{
		text-align: $textCenter;
	}
}


nav {
    background-color: silver;
    color: white;
    font-size: 1.5em;
    padding: 5px;
    
    ul {list-style: none;
    	li	{
    		display: inline;
    		padding-left: $headerPadding;
    		padding-right: $headerPadding;
    	}
    
    }
    a	{
    	text-decoration: none;
    	color: white;
    }
    a:hover	{
    	color: black;
    }
    a:visited	{
    	color: red;
    }
}

article {border: 2px solid black;
		padding: 20px;
		margin-top: $headerPadding;
		margin-bottom: $headerPadding;

    ul {list-style: none;font-size: 1.2em; line-height: 1.5em}
    ol	{
    	list-style: none; font-size: 0.8em;
    }

}